.homebanner {
  background-image: url("../images/login_banner.png");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.log {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}


  .bgss {
    background-color: rgba(54, 99, 96, 0.8); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }

.login-container {
  max-width: 400px;
  margin: 0 auto;
}

.display-3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #333;
}

.form-label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #333;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.btns {
  background-color: #007bff;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btns:hover {
  background-color: #0056b3;
}

p {
  margin-top: 20px;
}

.link {
  color: #007bff;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.fs-2 {
  font-size: 1.5rem;
  color: red;
}
